.link {
  text-decoration: none;
  transition: opacity 0.1s ease-in;
}

.link:hover {
  opacity: 0.6;
}

.heading,
.paragraph, 
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 400;
}

.text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
