@import url(../digits/section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../digits/section-title/_theme/section-title_theme_dark.css);
@import url(../digits/table/__cell/_theme/table__cell_theme_dark.css);
@import url(./__triangle/kaufman__triangle.css);
@import url(../rotation/_type/rotation_type-triangle.css);

.kaufman {
  background-color: #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}