.footer__column-link_icon_youtube::before {
  content: '';
  background-image: url(../../../../images/youtube-icon.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 0;
  position: absolute;
}